{% extends 'parser/base.html' %}

{% block content %}
    <h1>ВЗУТТЯ СПОРТИВНЕ</h1>
    
    <form method="GET" action="{% url 'shoes_list' %}">
        {{ search_form }}
        <button type="submit">Search</button>
    </form>

    <form method="POST" action="{% url 'update' %}">
        {% csrf_token %}
        <button type="submit">
            інформація про оновлення (Довга)
        </button>
    </form>
    
    <div class="sorting-buttons">
        <a href="?sort=price">Сортувати за ціною по зростанню</a>
        <a href="?sort=-price">Сортувати за ціною по спаданню</a>
    </div>    
    
    <div class="card-container">
        {% for card in page_obj %}
            <div class="card">
                <h3>{{ card.name }}</h3>
                <a href="{{ card.get_absolute_url }}" target="_blank">
                    <img src="/media/{{ card.photo }}" alt="{{ card.name }}" class="product-image">
                </a>
                <p>Ціна: {{ card.price }}₴</p>
            </div>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %} 
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?sort={{ sort }}&page=1">&laquo;&laquo;</a>
                </li>
                <li class="page-num">
                    <a href="?sort={{ sort }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}
            
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %} 
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} 
                    <li class="page-num">
                        <a href="?sort={{ sort }}&page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %} 
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?sort={{ sort }}&page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
                <li class="page-num">
                    <a href="?sort={{ sort }}&page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}



    
{% endblock %}
